body {
  background-color: rgba(128, 0, 128, 0.5);
  perspective: 1000px;
}
nav {
  border-bottom: 5px solid purple;
}

.my-row {
  /* border: 5px solid orange; */
  height: 100vh;
}
.my-hover {
  /* border: 5px dotted purple; */
  width: 75vw;
  min-height: 75%;
}
.my-card {
  width: 20rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  background-color: purple;
  color: white;
}
